{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-9 mt-4 px-md-5 left_group_landing">
            <form id="create_room_form" action="/group_chat">
                <legend class="border-bottom mt-3"><b>Create a chat room</b></legend>
                <div class="form-group">
                    <label for="amount_of_people">Specify the amount of people entering the group that are voting:</label>
                    <input type="number" class="form-control" id="amount_of_people" placeholder="Enter..." name="num_people" required>
                </div>
            </form>

            <button type="submit" class="btn btn-success mb-2" form="create_room_form">Create</button>

            <button type="button" class="btn btn-info mb-2" data-toggle="collapse" data-target="#create_i">Instructions</button>
            <div id="create_i" class="collapse">
                <ol class="mt-4">
                    <li>This feature requires one group member to specify the amount of voters in a group.</li>
                    <li>The term "voting" or "voter" refers to a user who wants to select a movie for the pool of movies to be collectively rated.</li>
                    <li>If you complete the form and you are not redirected into a room, then all rooms are occupied. Please try again in a few moments.</li>
                </ol>
            </div>
        </div>
        <div class="col-lg-6 col-sm-9 mt-4 px-md-5 right_group_landing">
            <form id="join_room_form" action="/group_chat">
                <legend class="border-bottom mt-3"><b>Join a chat room</b></legend>
                <div class="form-group">
                    <label for="room_number">Specify the room number to enter:</label>
                    <input type="number" class="form-control" id="room_number" placeholder="Enter..." name="room" required>
                </div>
            </form>

            <button type="submit" class="btn btn-primary mb-2" form="join_room_form">Join</button>

            <button type="button" class="btn btn-info mb-2" data-toggle="collapse" data-target="#join_i">Instructions</button>
        <div id="join_i" class="collapse">
             <ol class="mt-4">
                <li>This feature requires other group members to specify the a created room number to join a chat room.</li>
                <li>If you complete the form and you are not redirected into a room, then check that you entered the correct room number or
                      check that that room has been created.</li>
             </ol>
          </div>
        </div>
    </div>
</div>
{% endblock content %}