{% extends "layout.html" %}
{% block content %}
<div class="container">
    <legend class="border-bottom mt-3">
    {% if num_people == -1 %}
        <h1 class="white_text">Chat room {{ room }}</h1>
    {% else %}
        <h1 class="white_text">Chat room {{ room }}</h1> <small class="white_text"> There are {{ num_people }} voters in this room</small>
    {% endif %}
    </legend>
<div class="row">

<div class="col-lg-5 col-sm-9 mt-2">
    <div id="messages" class="messages"></div>

    <form id="message_input_form">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control input-lg" id="message_input" placeholder="Enter message...">
      <span class="input-group-btn">
      <button type="submit" class="btn btn-primary btn-lg">Send</button>
          </span>
    </div>
    </form>
</div>

<div class="col-lg-7 col-sm-9 mt-2">

    <div id="display_recommendations_button">
        <form id="request_recommendations">
          <button type="submit" class="btn btn-primary btn-lg">Get Recommendation</button>
        </form>
    </div>

    <div id="display_cinema_form">
        {%if render_form == 1%}
            <div id="cinema_movie_form" class="sidebar-section">
                <h3 class="border-bottom">IMDb Top Rated Movies</h3>
                <p id="no_movies"></p>
                 <form id="cinema_movie_check" method="POST" action="">
                    {{ cinema_form.hidden_tag() }}
                    <fieldset class="form-group">
                        {% if cinema_form.options.errors %}
                        <div class="invalid-feedback">
                            {% for error in cinema_form.options.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% for option in cinema_form.options %}
                            <div class="form-check">
                                {{ option(class="checkbox form-check-input") }}
                                {{ option.label(class="form-check-label") }}
                            </div>
                        {% endfor %}
                    </fieldset>
                    <div class="form-group">
                        {{ cinema_form.send(class="btn btn-outline-info") }}
                    </div>
                </form>
                <p id="one_movie_error" style="color:red"></p>
            </div>
        {% endif %}

            <form class="form-group" id="individual_ratings_form" action="/submit_rated_movies" method="post">
                <input type="hidden" class="form-control input-lg" name="room_rec" value="{{ room }}">
            </form>
            <button class="btn btn-info" type="submit" id="submit_individual_rating" form="individual_ratings_form">Submit</button>
    </div>

     <div id="chat_recommendations" class="text-center chat_recommendations_scroll"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script type="text/javascript">
    const socket = io.connect("https://loop-fyp.herokuapp.com/", {transports: ['websocket']});
    document.getElementById("display_cinema_form").style.display = "none";
    document.getElementById("submit_individual_rating").style.display = "none";
    document.getElementById("display_recommendations_button").style.display = "none";
    document.getElementById("chat_recommendations").style.display = "none";

    socket.on('connect', function ()
    {
        socket.emit('join_room',
        {
            username: "{{ username }}",
            room: "{{ room }}"
        });

        let message_input = document.getElementById('message_input');

        document.getElementById('message_input_form').onsubmit = function (e)
        {
            e.preventDefault();
            let message = message_input.value.trim();
            if (message.length)
            {
                socket.emit('send_message',
                {
                    username: "{{ username }}",
                    room: "{{ room }}",
                    message: message
                })
            }
            message_input.value = '';
            message_input.focus();
        }
    });

    socket.on('join_room_announcement', function (data)
    {
        cinema_form_checker(data.users_in);
        if (data.username !== "{{ username }}")
        {
            document.getElementById('messages').innerHTML += data.username .bold()+ " has joined the room <br>";
        }
    });

    socket.on('receive_message', function (data)
    {
        document.getElementById('messages').innerHTML += data.username.bold() + ": " + data.message + "<br>";
    });

    if({{render_form}} == 1)
    {
        //Determine all checkboxes in a form
        var checks = document.querySelectorAll(".checkbox");
        //If there are no movies in the cinema
        if(checks.length == 0)
        {
            document.getElementById("no_movies").innerHTML = "There are no movies in the cinema at the moment.";
        }

        //Determining the movie selected by checking the position of the movies selected
        for (var index = 0; index < checks.length; index++)
          checks[index].onclick = checks_selected;
        function checks_selected (event)
        {
        // The movies checked
          var actual_checked = document.querySelectorAll(".checkbox:checked");
        // The max number of boxes selected are the amount of people in the group
          if (actual_checked.length >= 2)
            return false;
        }
        document.getElementById('cinema_movie_check').onsubmit = function(e)
        {
            e.preventDefault();
                let message = document.querySelectorAll(".checkbox:checked")[0].value;
                if (message.length)
                {
                    document.getElementById("cinema_movie_form").style.display = "none";
                    socket.emit('send_movies_to_be_rated',
                    {
                        username: "{{ username }}",
                        room: "{{ room }}",
                        message: message
                    })
                }
        };

    }

    socket.on('receive_movies_to_be_rated', function (data)
    {
        if(data.movies == "invalid_amount")
        {
            document.getElementById("display_cinema_form").style.display = "block";
            document.getElementById("cinema_movie_form").style.display = "block";
            document.getElementById("one_movie_error").innerHTML = "All users selected the same movie previously. This system requires at least 2 movies to work.";
        }
        else
        {
            document.getElementById("submit_individual_rating").style.display = "block";
            movies_selected(data.movies);
        }
    });

    function movies_selected(movies_checked)
    {
        var counter = 0;
        var user_id = 0;

        //Call form for inputs to be created
        var form = document.getElementById("individual_ratings_form");
        // get the movies checked
        if(movies_checked.length > 1)
        {
            var size = movies_checked.length

            for(var index=0; index < size*2; index++)
            {
                var input = document.createElement('input');
                 if(index%size == 0)
                 {
                    var row_div = document.createElement("div");
                    row_div.className = 'row'
                 }
                //The first input box in each row, should be of type text to represent a user
                if(index < size)
                {
                     // populating the input row with movies
                     input.id = 'input_rating_' + index;
                     input.name = 'input_rating_' + index;
                     input.className = 'form-control'
                     input.type = 'text';
                     input.readOnly = true;
                     // User ID is developed by a counter
                     input.value = movies_checked[index];
                }
                else
                {
                    // the input for ratings
                    input.type = 'number';
                    input.id = 'input_rating_' + index;
                    input.name = 'input_rating_' + index;
                    input.className = 'form-control'
                    input.min = 1;
                    input.max = 10;
                    input.required = true;
                 }


                // adding all inputs for each user in a div
                if(counter<size)
                {
                    var div = document.createElement("div");
                    div.className = 'col-md'
                    // add the input to the div
                    div.appendChild(input);
                    row_div.appendChild(div);
                    // add the div to the form
                    form.appendChild(row_div);
                    counter++;
                 }
                else
                {
                     // Add current input value
                    var div = document.createElement("div");
                    div.className = 'col-md'
                    div.appendChild(input);
                    row_div.appendChild(div);
                    form.appendChild(row_div);
                     // reset counter to 1 and not 0
                     counter = 1
                }
            }
        }
    };

    function cinema_form_checker(current_users)
    {
        if({{ num_people }} == current_users)
        {
            document.getElementById("display_cinema_form").style.display = "block";
        }
     }

    document.getElementById('request_recommendations').onsubmit = function (e)
    {
        e.preventDefault();
        socket.emit('send_movie_recommendations',
            {
                username: "{{ username }}",
                room: "{{ room }}"
            })
    }

    if({{ num_people }} == -1)
    {
        document.getElementById("display_recommendations_button").style.display = "block";
    }

     socket.on('receive_movie_recommendations', function (data)
    {
        document.getElementById("display_recommendations_button").style.display = "none";
        document.getElementById("chat_recommendations").style.display = "block";

        var index;
        var row_divs = document.createElement("div");
        for(index=0; index<data.length; index++)
        {
            //creating html tags
            var h1 = document.createElement("H1");
            var position = index + 1;
            var text_score = document.createTextNode("Recommendation: " + position);
            h1.appendChild(text_score);

            var h2_title = document.createElement("H2");
            var movie_title = document.createTextNode(data[index][0]);
            h2_title.appendChild(movie_title);

            var img = document.createElement("img");
            img.src = data[index][1];

            var h5_year = document.createElement("H5");
            h5_year.className = "mt-2";
            var movie_year = document.createTextNode("Released Year: " + data[index][2]);
            h5_year.appendChild(movie_year);

            var h5_rating = document.createElement("H5");
            var movie_rating = document.createTextNode("IMDb Rating Score: " + data[index][3]);
            h5_rating.appendChild(movie_rating);

            var h4_rec_score = document.createElement("H4");
            var recommendation_score = document.createTextNode("Recommendation score: " + data[index][4]);
            h4_rec_score.appendChild(recommendation_score);

            var create_link = document.createElement('a');
            var create_link_text = document.createTextNode("IMDb Official Page");
            create_link.setAttribute('href', data[index][5]);
            create_link.appendChild(create_link_text);

            row_divs.appendChild(h1);
            row_divs.appendChild(h2_title);
            row_divs.appendChild(img);
            row_divs.appendChild(h5_year);
            row_divs.appendChild(h5_rating);
            row_divs.appendChild(h4_rec_score);
            row_divs.appendChild(create_link);

            //add spacing
            if(index<data.length-1)
            {
                var br_1 = document.createElement("br");
                row_divs.appendChild(br_1);

                var br_2 = document.createElement("br");
                row_divs.appendChild(br_2);

                var hr = document.createElement("HR");
                row_divs.appendChild(hr);

                var br_3 = document.createElement("br");
                row_divs.appendChild(br_3);

                var br_4 = document.createElement("br");
                row_divs.appendChild(br_4);
            }
        }
        document.getElementById("chat_recommendations").appendChild(row_divs);

    });

    window.onbeforeunload = function ()
    {
        socket.emit('leave_room',
        {
            username: "{{ username }}",
            room: "{{ room }}"
        })
    };

    socket.on('leave_room_announcement', function (data)
    {
        document.getElementById('messages').innerHTML += data.username.bold() + " has left the room <br>";
    });

</script>
</div>
</div>
{% endblock content %}