{% extends "layout.html" %}
{% block content %}
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.amount.label(class="form-control-label") }}

                    {% if form.amount.errors %}
                        {{ form.amount(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.amount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.amount(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

    <div id='movies_to_be_rated'></div>
    <form class="form-group" id="ratings_form" action="/group_recommendation" method="post"></form>
    <button class="btn btn-outline-info" type="submit" id="submit_rating" form="ratings_form">Submit</button>

    <script>
    document.getElementById('submit_rating').style.visibility = 'hidden';

    var selection = 0;
    function movies_selected()
    {
      if (selection == 0)
      {
          var movies_picked = 'Users:\n' + document.getElementById("display").value;
          var movies = movies_picked.split('\n');
          if(movies[1] != "")
          {
              for(var index=0; index<movies.length; index++)
              {
                var movie = movies[index].replace("'", "");
                document.getElementById('movies_to_be_rated').innerHTML=
                document.getElementById('movies_to_be_rated').innerHTML+"<input class='form-control movie_title' type='text' value='"+movie+"' readonly>";
              }
              movie_ratings(movies.length)
              document.getElementById('submit_rating').style.visibility = 'visible';
              document.getElementById("options_selected").value="Reset";
              selection++;
          }
       }
       else
       {
           location.reload();
       }
    }

    function movie_ratings(size)
    {
        var counter = 0;
        var user_id = 1;
        var form = document.getElementById("ratings_form");
        for(var index=0; index<{{group_size}}*size + 1; index++)
        {
            var input = document.createElement('input');
            input.type = 'number';
            input.name = 'myInput_' + index;
            input.id = 'myInput_' + index;
            input.className = 'form-control class_number'
            input.min = 1;
            input.max = 10;
            input.required = true
            if(index%size == 0)
            {
                 input.type = 'text';
                 input.readOnly = true;
                 input.value = "User "+user_id++;
            }
            if(counter<size)
            {
                form.appendChild(input);
                counter++;
             }
             else
             {
                 linebreak = document.createElement("br");
                 form.appendChild(linebreak);
                 form.appendChild(input);
                 counter = 1
             }
              if(index == {{group_size}}*size)
             {
                 input.type = "hidden";
                 input.value = document.getElementById("display").value;
             }
        }
    };
</script>
{% endblock content %}

{% block sidebar %}
    <legend>Cinema Movies</legend>
    {% if group_size %}
    <form id="cinema_form">
    <fieldset>
        <select class="form-control" id="cinema_id" multiple>
                  {% for movie in cinema %}
                    <option value="{{movie}}">{{movie}}</option>
                  {% endfor %}
        </select>
        <h6 class="text_area_title">Movies selected:</h6>
        <textarea class="form-control" id="display" required onkeypress="return false;"></textarea>
        <input type="submit" onclick="movies_selected()" value="Done" id="options_selected" class="btn btn-outline-info"/>
    </fieldset>
    </form>

    <script>
        if (document.getElementById('cinema_id').options.length == 0)
        {
            document.getElementById("display").value = "There are no movies in the cinema at the moment.";
            document.getElementById('options_selected').style.visibility = 'hidden';
        }
          // reference to select list and callback function
        function getSelected(select, fn) {
            var options_selected = [], option_selected;
            // loop through options in select list
            for (var i=0, len=select.options.length; i<len; i++) {
                option_selected = select.options[i];
                // check if selected
                if ( option_selected.selected ) {
                    // add to array of option elements to return from this function
                        if(options_selected.length < {{group_size}}){
                        options_selected.push(option_selected);
                    // invoke optional callback function if provided
                    if (fn) {
                        fn(option_selected);
                    }}
                }
            }
            // return array containing references to selected option elements
            return options_selected;
           }
        // example callback function (selected options passed one by one)
        function callback(option_selected)
            {
                // display in textarea for this example
                var display = document.getElementById('display');
                display.innerHTML += option_selected.value + '\n';
                }
                // anonymous function onchange for select list with id cinema_id
            document.getElementById('cinema_id').onchange = function(e)
            {
                // get reference to display textarea
                var display = document.getElementById('display');
                display.innerHTML = ''; // reset
                // callback fn handles selected options
                getSelected(this, callback);
                var str = display.innerHTML.slice(0, -1);
                display.innerHTML = str;
            };
            document.getElementById('cinema_form').onsubmit = function(e)
            {
                return false; // don't return online form
            };
    </script>
{% endif %}
{% endblock sidebar %}