{% extends "layout.html" %}
{% block content %}
<div class="col-md-8">
    <div class="text-center">
        <H1 class="article-content white_text">Recommended Movie:</H1>
        <h2 class="article-content white_text">{{ top_movie[0] }}</h2>
        <img src="{{ top_movie[1] }}" class="img-fluid img-thumbnail mb-3" width="250" height="350">
        <h5 class="article-content border-bottom mb-2"><b>Released Year: {{ top_movie[2] }}</b></h5>
        <h5 class="article-content border-bottom mb-2"><b>IDMb Rating Score: {{ top_movie[3] }}</b></h5>
        <h4 class="article-content border-bottom mb-2"><b>Recommendation Score: {{ top_movie[4] }}</b></h4>
        <h3> For more info visit:
            <a href="{{ top_movie[5] }}"><button class="btn btn-info">IMDb</button></a>
        </h3>
    </div>
</div>

<div class="col-md-4">
    <div class="sidebar-section">
        {% if other_movies %}
            {% if other_movies|count > 1%}
            <H3 class="article-content border-bottom mb-4">Other Movies:</H3>
            {% else %}
                <H3 class="article-content border-bottom mb-4">Other Movie:</H3>
            {% endif %}

            {% for movie in other_movies %}
            <div class="text-center">
                <button type="button" class="collapsible_movies">{{ movie[0] }}</button>
                <div class="collapsible_movies_content">
                <img src="{{ movie[1] }}" class="img-fluid img-thumbnail mb-1">
                <p class="article-content border-bottom"><b>Released Year: {{ movie[2] }}</b></p>
                <p class="article-content border-bottom"><b>IDMb Rating Score: {{ movie[3] }}</b></p>
                <p class="article-content border-bottom"><b>Recommendation Score: {{ movie[4] }}</b></p>
                <p> For more info visit:
                    <a href="{{ movie[5] }}"><button class="btn btn-info">IMDb</button></a>
                </p>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h4> There are no other movies</h4>
        {% endif %}
    </div>

    <script>
    var movies = document.getElementsByClassName("collapsible_movies");
    var index;

    // loop through all the nested movies
    for (index = 0; index < movies.length; index++) {
        // action listener to determine which movie has been pressed
      movies[index].addEventListener("click", function() {
        this.classList.toggle("active");
        // if pressed and  open then close else open and display content
        var movie_content = this.nextElementSibling;
        if (movie_content.style.display === "block") {
          movie_content.style.display = "none";
        } else {
          movie_content.style.display = "block";
        }
      });
    }
    </script>
</div>
{% endblock content %}
