{% extends "layout.html" %}
{% block content %}
<div class="container">
</div>
<div class="col-md-8">
    <form method="POST" action="">
        {{ people_form.hidden_tag() }}
        <fieldset class="form-group">
                {{ people_form.amount.label(class="form-control-label white_text") }}
                {% if people_form.amount.errors %}
                    {{ people_form.amount(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in people_form.amount.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ people_form.amount(class="form-control form-control-lg") }}
                {% endif %}
        </fieldset>
        <div class="form-group">
            {{ people_form.submit(class="btn btn-info") }}
        </div>
    </form>

    <form class="form-group" id="ratings_form" action="/group_recommendation" method="post"></form>
    <button class="btn btn-info mb-4" type="submit" id="submit_rating" form="ratings_form">Confirm Inputs</button>

    <script>
    // Set movie rating submit form to invisible as the checkbox has not been completed
    document.getElementById('submit_rating').style.visibility = 'hidden';

    var submit_form_already = 0;
    function checked_movies()
    {
        // check that the form has already been submitted onnce
      if (submit_form_already == 0)
      {
          // Adding all the movies selected in the checkbox to an array
          var movies = [];
          var movies_checked =document.querySelectorAll(".checkbox:checked");
            for(var index=0; index < movies_checked.length; index++)
            {
               movies.push(movies_checked[index].value);
            }
           // if there are movies checked
          if(movies.length > 1)
          {
              document.getElementById("demo").innerHTML = "";
              // make form button visible and change the name of the form button to 'reset'
              document.getElementById('submit_rating').style.visibility = 'visible';
              document.getElementById("cinema_checked").value="Reset"
              submit_form_already++;
              return movies;
          }
          else
          {
            // if no movies are selected, return an empty array
             document.getElementById("demo").innerHTML = "Please select at least two movies";
             return movies
          }
      }
      else
      {
        // If the checkbox has already been completed, refresh the page to reset it
          location.reload();
      }
    }

    function movies_selected()
    {
        var counter = 0;
        var user_id = 0;

        //Call form for inputs to be created
        var form = document.getElementById("ratings_form");
        // get the movies checked
        movies_checked = checked_movies()
        if(movies_checked.length > 1)
        {
            var size = movies_checked.length+1
            var group_rows = {{group_size}} + 1;

            //Amount of input boxes needed
            var input_numbers = group_rows*size;

            for(var index=0; index < input_numbers; index++)
            {
                var input = document.createElement('input');

                //The first input box in each row, should be of type text to represent a user
                if(index%size == 0)
                {
                    // each user should get their own row, in relation to the movies
                     var row_div = document.createElement("div");
                     row_div.className = 'row'
                     input.id = 'input_rating_' + index;
                     input.name = 'input_rating_' + index;
                     input.className = 'form-control'
                     input.type = 'text';
                     input.readOnly = true;
                     // if user id is zero , then that is the row for the movies
                     if(user_id == 0)
                     {
                        input.value = "User:";
                        user_id++
                     }
                     else
                     {
                        // User ID is developed by a counter
                        input.value = "User "+ user_id++ +":";
                     }
                }
                else if(index-1 < size)
                {
                     // populating the input row with movies
                     input.id = 'input_rating_' + index;
                     input.name = 'input_rating_' + index;
                     input.className = 'form-control'
                     input.type = 'text';
                     input.readOnly = true;
                     // User ID is developed by a counter
                     input.value = movies_checked[index-1];
                }
                else
                {
                    // the input for ratings
                    input.type = 'number';
                    input.id = 'input_rating_' + index;
                    input.name = 'input_rating_' + index;
                    input.className = 'form-control'
                    input.min = 1;
                    input.max = 10;
                    input.required = true;
                 }


                // adding all inputs for each user in a div
                if(counter<size)
                {
                    var div = document.createElement("div");
                    div.className = 'col-md'
                    // add the input to the div
                    div.appendChild(input);
                    row_div.appendChild(div);
                    // add the div to the form
                    form.appendChild(row_div);
                    counter++;
                 }
                else
                {
                     // Add current input value
                    var div = document.createElement("div");
                    div.className = 'col-md'
                    div.appendChild(input);
                    row_div.appendChild(div);
                    form.appendChild(row_div);
                     // reset counter to 1 and not 0
                     counter = 1
                }
            }
        }
    };
</script>
</div>

<div class="col-md-4">
    <div class="sidebar-section">
        <h3 class="border-bottom mb-4">IMDb Top Rated Movies</h3>
        <p id="no_movies"></p>
        {% if group_size %}
             <form id="cinema_movie_check" method="POST" action="">
                {{ cinema_form.hidden_tag() }}
                <fieldset class="form-group">
                    {% if cinema_form.options.errors %}
                    <div class="invalid-feedback">
                        {% for error in cinema_form.options.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% for option in cinema_form.options %}
                        <div class="form-check">
                            {{ option(class="checkbox form-check-input") }}
                            {{ option.label(class="form-check-label") }}
                        </div>
                    {% endfor %}
                </fieldset>
                <div class="form-group">
                    {{ cinema_form.submit(id="cinema_checked", class="btn btn-outline-info") }}
                </div>
            </form>
        <p id="demo" style="color:red"></p>
        <script type="text/javascript">
        //Determine all checkboxes in a form
            var checks = document.querySelectorAll(".checkbox");
            //If there are no movies in the cinema
            if(checks.length == 0)
            {
                document.getElementById("no_movies").innerHTML = "There are no movies in the cinema at the moment.";
                document.getElementById('cinema_movie_check').style.visibility = 'hidden';
            }

            //Determining the movie selected by checking the position of the movies selected
            for (var index = 0; index < checks.length; index++)
              checks[index].onclick = checks_selected;
            function checks_selected (event)
            {
            // The movies checked
              var actual_checked = document.querySelectorAll(".checkbox:checked");
            // The max number of boxes selected are the amount of people in the group
              if (actual_checked.length >= {{group_size}} + 1)
                return false;
            }
            document.getElementById('cinema_movie_check').onsubmit = function(e)
            {
                // don't want to return thee form because it will refresh the page and everything is cleared
                return false;
            };
        </script>
    </div>
    {% endif %}
</div>
{% endblock content %}
