{% extends "layout.html" %}
{% block content %}
   <style>
        .movie-card
        {
            width: 300px;
            height: auto;
            background: #e6ffff;
            align-self: center;
            border-radius: 2px;
            border-shadow: 2px 2px 4px #867475
            margin: 12px
        }
        .movie-list-container
        {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        img
        {
            max-width: 100%;
        }
    </style>
    <section>
        <div class="movie-list-container">
            {% for movie in data["results"] %}
            <div class="movie-card">
                <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="movie-poster">
                <h2> {{ movie.title }}</h2>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}