html
{
  min-height: 100%;
}
body
{
    margin-top: 5rem;
    background: linear-gradient(-180deg, #000000, #006699, #33cccc, #99ffcc); no-repeat;
    color: #000000;
}

.white_text
{
    color: #ffffff;
}

.white_smoke_text
{
    color: #F5F5F5;
}

.logo
{
    color: #c7ccd1;
    font-size: 1.2rem;
}
.nb-colour
{
  background-color: #000000;
}

.site-header .navbar-nav .nav-link
{
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover
{
  color: #0099cc;
}

.site-header .navbar-nav .nav-link.active
{
  font-weight: 500;
}

.sidebar-section
{
  background: linear-gradient(to bottom, #ffffff 0%, #8bffff 100%);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.log_reg_form {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.nav_dropdown
{
  background-color: #000000;
}

.section_heading {
  font-size: 3vw;
  padding-top: 1vw;
}

.collapsible_movies
{
  background-color: #777;
  display: block;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  color: #ffffff;
  background: #33cccc;
  width: 100%;
  cursor: pointer;
  border-radius: 1.5vw;
}

.active, .collapsible_movies:hover
{
  background-color: #00ffff;
}

.collapsible_movies_content
{
  overflow: hidden;
  padding: 0.5rem;
  display: none;
  background-color: #66ffff;
  border-radius: 1.5vw;
}

div.scrollmenu
{
  background-color: #33cccc;
  overflow: auto;
  white-space: nowrap;
  border-radius: 20px;
}

div.scrollmenu .movie_container
{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 2vw;
  width: 15vw;
  font-size: 1.8vw;
}

.movie_title_scroll{
overflow: scroll;
}

.movie_title_scroll::-webkit-scrollbar
{
display: none;
}

div.scrollmenu .movie_container:hover
{
  background-color: #66ffff;
}

.profile_sidebar
{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 50px;
  right: 0;
  background: linear-gradient(to bottom, #ffffff 0%, #8bffff 100%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.profile_sidebar a
{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.profile_sidebar a:hover
{
  color: #f1f1f1;
}

.profile_sidebar .closebtn
{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.profileHeadingSection{
  display: inline-block;
  float:left;
  color: #000000;
}

.profileHeadingBtn{
  float:right;
}

.profile_sections
{
  background-color: #ffffff;
  height: 18vw;
  overflow: scroll;
  border-radius: 10px;
}

.profile_graph_section
{
  background-color: #ffffff;
  height: 18vw;
  border-radius: 10px;
}

.ct-chart .ct-label.ct-vertical,
.ct-chart .ct-label.ct-horizontal
{
  color: #000000;
  text-align: center;
}

.ct-chart .ct-bar {
  stroke-width: 5px;
  stroke: #80bfff;
}
@media screen and (min-width: 300px) {
  .ct-chart .ct-bar {
    stroke-width: 10px;
  }
}
@media screen and (min-width: 600px) {
  .ct-chart .ct-bar {
    stroke-width: 20px;
  }
}
.green_icon
{
color: #99cc00;
}

.blue_icon
{
color: #6699ff;
}

.red_icon
{
color: #ff3300;
}

.group_icon
{
  background-color: #F0F0F0;
}

div.messages {
  background-color: #ffffff;
  height: 15vw;
  overflow: auto;
  border-radius: 0.5vw;
  padding: 10px;
}

.left_group_landing
{
    background-color: #FFFAFA;
    border-radius: 1.5vw;
    padding-bottom: 20px;
}

.right_group_landing
{
    background-color: #F5F5F5;
    border-radius: 1.5vw;
    padding-bottom: 20px;
}

.chat_recommendations_scroll
{
  background: linear-gradient(to top left, #ffffff 0%, #66ffff 100%);
  height: 32vw;
  overflow: auto;
  border-radius: 0.8vw;
  padding: 3px;
}

hr
{
    border-top: 1px solid black;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{
div.scrollmenu .movie_container
{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 2vw;
  width: 25vw;
  font-size: 1.8vw;
}

.section_heading {
  font-size: 6vw;
  padding-top: 1vw;
}

.profile_sections
{
  background-color: #ffffff;
  height: 40vw;
  overflow: scroll;
  border-radius: 10px;
}

.profile_graph_section
{
  background-color: #ffffff;
  height: 40vw;
  border-radius: 10px;
}

div.messages {
  background-color: #ffffff;
  height: 40vw;
  overflow: auto;
  border-radius: 0.5vw;
  padding: 10px;
}

.chat_recommendations_scroll
{
  background: linear-gradient(to top left, #ffffff 0%, #66ffff 100%);
  height: 60vw;
  overflow: auto;
  border-radius: 0.8vw;
  padding: 3px;
}

}
